.conference-presenter-image {
    float: left;
    margin: 0 5px 5px 0;
}

.conftable thead{
    background-color: #007bb1;
}

.conftable th{
    color: white;
    padding: 10px 10px 10px 10px;
}

.conftable td {
    padding: 5px 0px 5px 10px;
}

.conftable tbody tr:nth-child(even) {
    background-color:#EEEEEE;
    }

ul.roomlist {
    list-style-type: none;
    margin: 5;
    padding: 0;
}

ul.speakerlist {
    list-style-type: none;
    margin: 5;
    padding: 0;
}

.column.training-right div {
    border-left: 15px solid #fad03d;
    padding-left: 2em;
    padding-bottom: 1em;
    }

.column.talk-right div {
    border-left: 15px solid #fad03d;
    padding-left: 2em;
    padding-bottom: 1em;
    }

.column.workshop-right div {
    border-left: 15px solid #fad03d;
    padding-left: 2em;
    padding-bottom: 1em;
    }

.conference_voting {
    float: right;
    border: 1px solid #ddd;
    background-color: #DDDDDD;
    padding: 0.5em 1em;
}


.conference_voting .conference_voting_option {
    display: None;
}

.areyousure {
    display: None;
}

.conference_voting div.conference_votes span {
    border: 0 solid #DDDDDD;
    cursor: pointer;
    float: left;
    margin: 0 0.2em;
    padding: 0 0.5em;
}

.conference_votes {
    display: inline;
    float: right;
}

.conference_voting #conference_voting_plus {
    background-color: LimeGreen;
}

.voting #conference_voting_neutral {
    background-color: yellow;
}

.voting #conference_voting_negative {
    background-color: red;
}